@import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Lily+Script+One|Poiret+One|Montserrat');

input[type='text'] {
  display: block;
  max-width: 560px;
  min-width: 64px;
  width: 170px;
  border: 1px solid #DDAAFF;
  border-radius: 4px;
  background-color: #FFF;
  color: #2C2C2E;
  padding: 6px 10px;
  margin-top: 0;
  -webkit-appearance: none;
  transition: box-shadow 330ms cubic-bezier(.18,.8,.44,1);
  font-family: 'Lily Script One';
  text-align: center;
  margin: auto;
  font-size: 10px;
}

input[type='submit'] {
  display: block;
  border-radius: 4px;
  background: #353866;
  margin-top: 0;
  color: #FE8CDF;
  font-face: Helvetica;
  font-size: 10px;
  max-width: 560px;
  min-width: 64px;
  width: 190px;
  padding: 6px 10px;
  border: 1px solid #BB77FF;
  font-family: 'Lily Script One';
  -webkit-appearance: none;
  margin: auto;
}
