// Mystery Heading
.banner {
  text-align: center;
  @import url('https://fonts.googleapis.com/css?family=Bungee+Outline|Lily+Script+One|Poiret+One');
  font-family: 'Lily Script One', cursive;
  color: white;
  font-size: 200%;
  word-wrap: break-word;
  margin-bottom: 30%;
}
